<app-header1></app-header1>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <div id="data" class="input-group" ng-controller="getcontroller">
                <button on-click="lclicked()">Large Cap</button>
                <button on-click="mclicked()">Mid Cap</button>
                <button on-click="sclicked()">Small Cap</button>
            </div>
        </div>

        <div class="col-sm-9">
            <div ng-hide="hideme">
                <p>Select a Cap to see Top 5 companies.</p>
            </div>

            <div ng-show="showme">
              <div class="conatiner">
                 <div class="table-responsive" ng-if="listCustomers.length">
                    <table at-pages id="cap-table" class="table table-bordered table-hover" data-page-length="5">
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col}}
                            </th>
                        </tr>
                        <tr *ngFor="let l of large">
                            <td *ngFor="let col of columns">
                                {{l[col]}}
                            </td>
                        </tr>
                    </table>
                </div>
              </div>
              
            </div>
        </div>
    </div>
</div>