<app-header></app-header>
  <div id="background">
  <div class='container'>
    <h1>About Us</h1>
    <p><i>
        Our product aims at providing our esteemed customers the best of the investment recommendations from the market.We have developed the sysytem considering the holistic approach and the pace of the market.The combination of the user friendly system and our approach with the customer relation management, we sure are the organic recipe to fertilize and boost up the growth of your <b>'Money Tree'</b>.
    </i>
     </p>
  </div>
  </div>
